<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Issue Tracker</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
  </head>
  <body>
    <header>
      <h1>Issue Tracker</h1>
    </header>
    <main>
      <section class="issues__container">
        <ul class="issues__list">
          <% for (let issue of issues) { %>
          <li class="issues__issue__card">
              <div class="issues__issue__card__header">
                <span
                  class="issues__issue__card__header__status <%= 'issues__issue__card__header__status--' + issue.status %>"
                  ><%= issue.status %></span
                >
                <span class="issues__issue__card__header__title"
                  ><%= issue.title %></span
                >
              </div>
              <div class="issues__issue__card__description">
                <%= issue.description %>
              </div>

              <% if (issue.status !== 'closed') { %>
                <div class="issues__issue__card__action">
                    <% if (issue.status === 'open') { %>
                      <button class="issues__issue__card__action--assign" data-id="<%= issue.id %>" data-status="pending" type="submit">Assign</button>
                    <% } %>
                    <% if (issue.status !== 'closed') { %>
                      <button class="issues__issue__card__action--close" data-id="<%= issue.id %>" data-status="closed" type="submit">Close</button>
                    <% } %>
                </div>
              <% } %>
          </li>
          <% } %>
        </ul>
      </div>
    </main>
    <script>
      function patch(id, status) {
        fetch('/issues/update-status/' + id, {
          method: 'PATCH',
          body: JSON.stringify({
            status: status,
          }),
          headers: {
            'Content-type': 'application/json; charset=UTF-8',
          },
        }).then((res) => {
          if (!res.ok) {
            alert('Can\'t update issue to ' + status + ' status!');
          } else {
            location.reload();
          }
        });
      }

      const assignButtons = document.getElementsByClassName('issues__issue__card__action--assign');
      const closeButtons = document.getElementsByClassName('issues__issue__card__action--close');
      const assignButtonsArr = Array.from(assignButtons);
      const closeButtonsArr = Array.from(closeButtons);

      assignButtonsArr.concat(closeButtonsArr).forEach(element => {
        element.addEventListener('click', () => patch(element.dataset.id, element.dataset.status));
      });
    </script>
  </body>
</html>
